.custom-gradient {
  background: linear-gradient(
    180deg,
    #342a4a 0.01%,
    #7f56d9 29.17%,
    rgba(182, 146, 246, 0.6) 100%
  );
}

.custom-background-clip {
  -webkit-background-clip: text; /* For older Webkit browsers */
  background-clip: text;
  color: transparent;
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb transparent */
}

.custom-select .css-1fdsijx-ValueContainer,
.custom-select .css-1fnvdd9-IndicatorsContainer,
.css-qbdosj-Input .css-qbdosj-Input {
  padding: 0;
  margin: 0;
}

.custom-select .css-1u9des2-indicatorSeparator {
  display: none;
}

.amount-clear #amount,
.amount-clear #amount_to_debit,
.amount-clear #discount_amount,
.amount-clear #unit_price,
.amount-input-wrapper input {
  outline: none;
  width: 100%;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 0;
  border: 0;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
