.custom-gradient {
  background: linear-gradient(
    180deg,
    #342a4a 0.01%,
    #7f56d9 29.17%,
    rgba(182, 146, 246, 0.6) 100%
  );
}

.custom-background-clip {
  -webkit-background-clip: text; /* For older Webkit browsers */
  background-clip: text;
  color: transparent;
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb transparent */
}
